<html>


<head></head>
<body>

<h1>Bem Vindo</h1>
<h2> <%= @version %> </h2>
<form action="usuario" method="POST>
<input name="email" type="text" />
<input type="submit" value="Enviar"> </input>
</form>
</body>

</html>
